.view-recipe {
    color: #666666;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    padding: 6px;
    margin: 10px;
    margin-left: auto;
    cursor: pointer;
    font-size: 10px;
}

.add-to-favorites {
    color: #666666;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    padding: 6px;
    margin: 10px;
    margin-left: auto;
    cursor: pointer;
    font-size: 10px;
}

.recipe-details {
    padding: 10px;
}

.recipe-card {
    width: calc(20% - 17px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .recipe-card {
        width: 100%;
    }
}

.recipe-detail-overlay {
    top: 0;
    left: 0;
    width: 100%; /* Fills the width of the viewport */
    height: 100%;
    z-index: 999; /* Ensure the overlay is on top of other content */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.recipe-detail {
    background-color: white;
    border-radius: 5px;
    width: 100%; 
}

.recipe-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    position: relative; /* Ensure the recipe-cards-container serves as the positioning context */
}

 .recipe-detail img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image fills the container while maintaining its aspect ratio */
    border-top-left-radius: 10px; /* Curved border on the top left corner */
    border-top-right-radius: 10px; /* Curved border on the top right corner */
}
  
  
  