.view-recipe {
    color: #666666;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    padding: 6px;
    margin: 10px;
    margin-left: auto;
    cursor: pointer;
    font-size: 10px;
}

.add-to-favorites {
    color: #666666;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    padding: 6px;
    margin: 10px;
    margin-left: auto;
    cursor: pointer;
    font-size: 10px;
}

.recipe-details {
    padding: 10px;
}

.recipe-card {
    width: calc(20% - 17px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .recipe-card {
        width: 100%;
    }
}

.recipe-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Fills the width of the viewport */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure the overlay is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recipe-detail {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: calc(100% - 40px); /* Adjust the width to fit the container */
    max-width: 800px; /* Limit the width to prevent it from stretching too wide */
  }
  
  .recipe-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    position: relative; /* Ensure the recipe-cards-container serves as the positioning context */
  }
  
  
  